@import url(chota.css);

:root {
    --bg-color: #fbf4f3;
    --bg-secondary-color: #f3f3f6;
    --color-primary: #f807a8;
    --color-lightGrey: #d2d6dd;
    --color-grey: #747681;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 120rem;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-color: #333333;
    --font-family-sans: sans-serif;
    --font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
    --grid-maxWidth: 80rem;

  }

a {
    color: var(--color-primary);
}

body {
    color: var(--font-color);
}

/* Other styles..... */




.nav img {
    max-height: 10rem;
    margin-left: -2.75rem;
}

.nav {
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.brand {
    font-family: 'Architects Daughter', cursive;
    line-height: 3.5rem;
    color: deeppink;
}

.nav .brand {
    font-size: 3em;
    padding-top: 0;
    padding-bottom: 0;
    color: deeppink;
}

.tabs {
    font-weight: 600;
}

.tabs>a.active {
    border-color: var(--color-primary);
}
.tabs>a.active, .tabs>a:hover {
    opacity: 1;
    border-bottom: 6px solid var(--color-primary);
}

.tabs>.dropdown>summary, .tabs>a {
    padding: 1rem 2rem;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    color: var(--color-darkGrey);
    border-bottom: 6px solid var(--bg-color);
    text-align: center;
}

.nav .brand:hover {
opacity: 100%;    
}


footer {
    margin-top: 6rem;
}
